:root {
    /* pseudo root :root */
    --color-dark: #212427;
    --color-yellow: #CD853F;
    --color-purple: #4409BF;
    --color-white: #fff;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-dark);
    color: var(--color-white);
}

.container {
    max-width: 1140px;
    /* top right bottom left */
    /* margin: 0 auto 0 auto; */
    /* top/bottom  left/right */
    margin: 0 auto;
}

main .row {
    display: flex;
    justify-content: space-between;
}

.row .col-1 {
    max-width: 532px;
}

.text-box>.heading-main {
    font-size: 36px;
    line-height: 50px;
}

.text-box>.paragraph-rate {
    font-size: 15px;
    line-height: 24px;
    max-width: 442px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.452);

}

.text-box>.heading-main .highlighted {
    color: var(--color-yellow);
}

.form-box>.heading-sub {
    font-size: 24px;
    color: var(--color-yellow);
    margin-left: 25px;
    font-size: small;
}

.form-container {
    margin-left: 30px;

}

.input-container {
    display: grid;
    padding-right: 90px;
    width: 35vw;
    padding-top: 6px;
}

.input-container>.name-box {
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    padding-bottom: 2px;
}

.input-container>.name-input {
    padding: 6px;
    background-color: var(--color-dark);
    border-color: var(--color-white);
}

.select-container {
    display: grid;
    padding-right: 90px;

}


select {
    padding-right: 20px;

}

.select-from {
    padding-bottom: 4px;
    padding-top: 4px;
    background-color: var(--color-dark);
    /* color: var(--color-dark); */
    border-color: var(--color-white);
    font-weight: lighter;

}

.amount {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 12px;


}

.btn-container {
    text-align: center;
    padding-right: 80px;

}

.btn-container>.btn {
    background-color: var(--color-purple);
    margin-top: 15px;
    border-color: var(--color-purple);
    color: var(--color-white);
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.coming-soon-box>.paragraph {
    font-size: 12px;
    width: 974px;
    font-weight: 300;
    font-family: "poppins";
    line-height: 18px;
    height: 108px;
    color: rgba(255, 255, 255, 0.452);

}

.paragraph-copyright>.bold {
    color: var(--color-white);
}

.copyright>.paragraph-copyright {
    text-align: center;
    width: 974px;
    font-family: "poppins";
    font-size: 15px;
}
.paragraph-copyright{
    margin-top: 100px;
}